@import 'normalize';
@import 'variables';
@import 'header';
@import 'footer';
@import 'media-sizes';

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 2.6rem;
	font-weight: 600;
}

nav h2 {
}

.blog-page nav h2,
.contact-us nav h2 {
	font-size: 2.6rem;
	font-weight: 600;
}

body,
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	line-height: 2.4rem;
	letter-spacing: 0.3px;
	color: $dark-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

/* Utilites */
.wrapper {
	max-width: 1280px;
	margin: auto;
	width: 90%;
}

.btn {
	display: inline-block;
	border: none;
	background: $light-color;
	color: $dark-color;
	padding: 0.7rem 2rem;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: 0.7px;
	font-family: 'Montserrat', sans-serif;
	line-height: 2.4rem;
	text-transform: uppercase;
}
.btn:hover {
	opacity: 0.9;
}

.search-bar-sm {
	visibility: hidden;
}

/* about us section */
.about-us {
	background: $main-color;
	padding: 10rem 0;
	position: relative;
	display: flex;
	text-align: center;
}

.about-wrapper {
	display: flex;
	justify-content: center;
}

.about-box {
	flex: 1 1 300px;
	max-width: 300px;
	margin-right: 15px;
	padding: 0.5rem;
}
.about-us img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.about-img-wrap {
	position: relative;
	width: 400px;
	margin-bottom: 1rem;
	margin: 0 auto 50px auto;
}

.about-img-wrap::before {
	content: url(../imgs/home-circle-text.png);
	position: absolute;
	top: -90px;
	left: -100px;
	transform: scale(0.8);
}

/* Silder section */

.slider {
	padding: 5rem 0;
	&-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		max-width: 600px;
		margin: auto;
		align-items: center;

		img {
			width: 35%;
			margin-bottom: 10px;
			border-radius: 50%;
		}
		p {
			text-align: center;
		}
	}
	&__right-arrow,
	&__left-arrow {
		position: absolute;
		top: 50%;
	}

	&__right-arrow {
		right: -75px;
	}

	&__left-arrow {
		left: -75px;
	}
	&__left-arrow i,
	&__right-arrow i {
		padding: 0.5rem;
		transition: all 1s;

		&:hover {
			transform: scale(1.5);
			cursor: pointer;
		}
	}
}

.services {
	background: url(../imgs/home-4.jpeg) no-repeat center center/cover;
	padding: 10rem 0 10rem 0;
}

.skills-wrapper {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	padding-left: 30%;
}

.skills {
	display: flex;
	margin-right: 1rem;
	margin-bottom: 1rem;
	max-width: 350px;
}

.skills__icon {
	display: flex;
	border: 1px solid #000;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	margin-right: 1rem;
	flex: 1 0 auto;
}
.team .wrapper {
	max-width: 800px;
	margin: 5rem auto;
}

.team h2 {
	text-align: center;
	padding-bottom: 4rem;
	font-size: 18px;
}

.box-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	margin-bottom: 3rem;
}

.text-box {
	grid-column-start: 1;
	grid-column-end: 3;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.box:last-child,
.text-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.box img {
	width: 100%;
}

// Drop a line section
.drop-line {
	display: flex;
	height: 600px;
	justify-content: center;
	background: $main-color;

	&__content {
		flex: 1 1 50%;
		align-self: center;
		text-align: center;
		padding: 0 15rem;
	}

	h2 {
		font-size: 1.8rem;
		margin-bottom: 1.5rem;
	}

	.btn {
		margin-top: 2rem;
	}

	&__image {
		background: url(../imgs/home-10.jpeg) no-repeat center center/cover;
		flex: 1 1 50%;
	}
}

// Contact Page

.contact-image {
	background: url(../imgs/contact-2.jpeg) no-repeat center center/cover;
	height: 500px;
}

// Details and icons

.contact-details {
	position: relative;
	h1 {
		position: relative;
		font-size: 3.7rem;
		letter-spacing: 0.9px;
		margin-bottom: 3rem;
		line-height: 1;
		&::before {
			content: '';
			position: absolute;
			border-bottom: 4px solid black;
			width: 30px;
			height: 4px;
			top: -20px;
		}

		span {
			display: block;
		}
	}

	&__blurb {
		margin-bottom: 3rem;
		margin-top: 4rem;
		padding-top: 5rem;

		h3 {
			margin-bottom: 1rem;
		}

		p {
			max-width: 600px;
		}
	}

	.titile-warpper {
		position: absolute;
		bottom: 254px;
	}

	// boxes with icons

	&__icons {
		display: flex;
		margin-bottom: 3rem;
		margin-left: 4rem;

		aside {
			max-width: 300px;
			margin-right: 3rem;
			padding: 1rem 4rem 1rem 1rem;
			border-right: 1px solid rgba($color: #000000, $alpha: 0.2);

			&:last-child {
				border-right: none;
			}

			i {
				font-size: 2rem;
			}

			a {
				text-decoration: none;
				color: $dark-color;
			}
		}
	}
}

.creative-form form {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 20% 50% 30%;
	margin: 5rem 0;
	grid-gap: 20px;
	max-width: 800px;

	// form reset for creative-form class only
	input {
		border: none;
		background-image: none;
		background-color: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	// New styling for the forms

	input {
		border-bottom: 1px solid rgba(000, 000, 000, 0.2);
		margin-right: 20px;
	}
	input[id='message'] {
		grid-column-start: 1;
		grid-column-end: 4;
		padding: 10rem 0;
		margin-bottom: 10rem;
	}

	input[type='submit'] {
		border-bottom: none;
		text-decoration: underline;
		font-weight: bold;
		text-align: left;
		margin-bottom: 5rem;
	}
}

.blog-post {
	h1 {
		font-size: 3.7rem;
		letter-spacing: 0.9px;
		margin-bottom: 1rem;
		line-height: 1;
		margin-top: 10rem;
	}

	&__breadcrums {
		margin-bottom: 5rem;
		font-size: 1.2rem;

		span {
			font-weight: bold;
		}
	}

	&__bio {
		display: flex;
		align-items: center;
		white-space: nowrap;
		margin-bottom: 10rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid rgba(000, 000, 000, 0.1);

		&__pic {
			img {
				border-radius: 50%;
				margin-right: 1.5rem;
			}
		}
		&__info {
			margin-right: 10%;
			margin-top: 1rem;

			.top-row {
				text-transform: uppercase;
			}

			.bottom-row {
				font-size: 10px;
				color: grey;
			}
		}

		.job-name {
			padding-right: 20%;
		}
	}

	&__content {
		margin-bottom: 10rem;

		p {
			margin-bottom: 2rem;
		}

		strong {
			font-weight: bold;
		}
	}
}

.related-posts {
	margin-bottom: 5rem;

	h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	&__gallery {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid rgba(000, 000, 000, 0.2);
	}

	&__posts {
		margin-top: 4rem;
		margin-right: 1rem;

		&:last-child {
			margin-right: 0;
		}
		img {
			margin-bottom: 1rem;
			width: 100%;
			height: auto;
		}
		aside p {
			text-transform: uppercase;
			font-size: 1.2rem;
		}
	}
}

.blog-form h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.all-comments h2 {
	font-size: 2rem;
	border-bottom: 1px solid rgba(000, 000, 000, 0.2);
	margin-bottom: 5rem;
	padding-bottom: 2rem;
}

.user-comment {
	display: flex;
	margin-bottom: 5rem;

	&__pic {
		margin-right: 3rem;
	}

	&__box {
		position: relative;
		background: #f6f6f6;
		padding: 1rem 1rem 2rem 1rem;
		width: 100%;
	}

	&__arrow {
		position: absolute;
		background: transparent;
		border: 10px solid #f6f6f6;
		top: 10px;
		left: -19px;
		border-top-color: transparent;
		border-left-color: transparent;
		border-bottom-color: transparent;
	}

	&__name {
		text-transform: uppercase;
		padding-bottom: 0.4rem;
		font-size: 1.2rem;

		&::after {
			content: '- Reply';
			font-size: 1rem;
			color: #adb7a8;
			font-weight: bold;
			font-style: italic;
			text-transform: capitalize;
		}
	}

	&__content {
		font-size: 1.2rem;
		margin-bottom: 1rem;
	}

	&__timestamp p {
		font-size: 0.8rem;
		color: grey;
	}
}


// Start of media queries 

@media screen and (max-width: 965px) {
	.top-nav ul {
		visibility: hidden;
	}

	.right-nav li i {
		visibility: visible;
		margin-right: 5rem;
	}

	.blog-post__bio .job-name {
		margin-right: 10%;
		padding-right: 0;
	}

	.main-footer {
		&__wrapper {
			flex-wrap: wrap;
			align-content: center;
		}

		&__sub {
			width: 100%;
			text-align: center;

			input[type='text'] {
				width: 300px;
			}
		}
	}

	.drop-line__content {
		padding: 0 5rem;
	}
}

// Tablet view

@media screen and (max-width: 768px) {
	.right-nav {
		margin-right: 50px;
	}
	.about-img-wrap {
		transform: scale(0.8);
	}

	.slider {
		&__right-arrow {
			right: -10px;
			top: 25%;
		}
		&__left-arrow {
			left: -10px;
			top: 25%;
		}
	}

	.blog-post {
		&__bio {
			flex-wrap: wrap;
			.job-name {
				margin-right: 60%;
				margin-bottom: 5%;
			}

			&__pic {
				margin-bottom: 5%;
			}
		}
	}

	.drop-line {
		height: 300px;
		&__image {
			display: none;
		}
	}

	.box-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}

	.text-box {
		grid-column-end: 4;
	}

	.contact-details .titile-warpper {
		position: static;
	}

	.creative-form form {
		display: block;
	}

	.creative-form form input {
		width: 100%;
		margin-bottom: 8rem;
	}

	.creative-form form input[id='message'] {
		padding: 5rem 0;
	}

	.main-footer__wrapper {
		font-size: 1.1rem;
	}

	.contact-details {
		&__icons {
			flex-direction: column;
			margin: 0;
			align-items: center;
			text-align: center;
			margin-bottom: 5rem;

			aside {
				border-right: none;
				border-bottom: 1px solid rgba(0, 0, 0, 0.2);
				margin: 0em;
			}
		}
	}
}

// Phone view

@media screen and (max-width: 568px) {
	.logo {
		left: 32%;
	}

	.right-nav li i.hidden-mobile {
		visibility: hidden;
	}

	header input[type='search'] {
		width: 80%;
		height: 24px;
	}

	header button[type='submit'] {
		background: $main-color;
		margin-left: -30px;
		height: 32px;
		width: 5rem;
	}
	.search-bar-sm {
		visibility: visible;
		margin: 0 auto;
		width: 70%;
	}

	.about-us {
		padding: 5rem 0;
	}

	.about-img-wrap {
		transform: scale(0.6);
		width: 100%;
		margin: 0;
	}

	.about-wrapper {
		flex-direction: column;
	}

	.about-box {
		flex: 1;
		margin: 0 auto;
		margin-bottom: 3rem;
	}

	.slider {
		&__right-arrow {
			top: 25%;
			right: 0;
		}
		&__left-arrow {
			top: 25%;
			left: 0;
		}
	}

	.services {
		background: #e7e8ea;
		padding: 5rem 0;
	}
	.skills-wrapper {
		padding: 0;
	}
	.skills {
		max-width: 100%;
		margin-bottom: 2rem;
	}

	.box-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}

	.text-box {
		grid-column-end: 3;
	}
	.main-footer {
		&__wrapper {
			flex-direction: column;
			padding: 3rem 0;
			align-items: center;
			text-align: center;
		}

		&__posts {
			display: none;
		}
	}

	.social {
		justify-content: center;
		font-size: 2rem;
		margin-bottom: 2rem;

		li {
			padding: 2rem;
		}
	}

	.main-footer h3 {
		margin-bottom: 0.5rem;
	}
	.related-posts__posts aside p {
		font-size: 0.9rem;
	}
	.related-posts__posts:last-child {
		display: none;
	}
}


// Smaller phone view

@media screen and (max-width: 380px) {
	.logo {
		left: 22%;
	}

	.about-img-wrap {
		transform: scale(0.5);
		width: 100%;
		margin: 0;
	}

	.slider {
		&__right-arrow {
			top: 15%;
			right: 0;
		}
		&__left-arrow {
			top: 15%;
			left: 0;
		}
	}
}
